/* Background image and width */
html { 
  background: url(img/1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

/* Removing the auto margins */
body {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    font-family: 'Russo One', sans-serif;
}

.zone {
    border: 1px solid #2a651800;
    cursor: auto;
    font-size: 1.3em;

}
      /* Navigation Bar */

/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
} */

.middle {
  animation-duration: 1s;
  animation-delay: 1.5s;
}

.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
}

      /* For mobile phone */
@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.6em;
        padding: 0;
    }
}

.push {
    margin-left: auto;
}

a {
    color: #029b52;
    text-decoration: none;
    transition: all 0.2s;
    cursor: pointer; 
}

a:hover {
    color: white;
}

.lista {
    padding: 5px 25px;
    transition: all 0.3s;
}

.lista:hover {
    background-color: rgba(0, 100, 0, 0.616);
    border-radius: 48% 1%;
}

/* Sadržaj */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    
}

#logo {
    width: 20rem;
    height: 23rem;
    padding: 0rem 1.3rem;
    border: 1px solid #227608;
    border-radius: 100%;
    background-color: #fffafae6;
}



.nav {
    color: darkgreen;
    
}

/* Nav bar */
.green {
    background-color: #00000091;
}

/* Center of the page */
.middle {
    background-color: #0000001a;
    padding: 7rem 2rem 3rem 2rem;
}

/* Articles */
.bottom {
    background-color: #00000091;
}
 
/* Footer */

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: -webkit-fill-available;

}

.grey {
    background-color: #e7e8ea6e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github {
    padding: 0;
    width: 1.8rem;
}


#git {
    display: flex;
    height: 0;
    align-items: center;
    margin: 0.9rem;
}

/* *********************************************** */
/* Gallery */


.products-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
    padding: 25px;
}
        
.box > img {
    width: 100%;
}

.box {
    background-color: white;
    padding: 60px;
    margin: 20px;
}

/* **************************************************** */
    /* Contact */

.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ulist {
    display: grid;
    grid-template-rows: repeat(auto-fill minmax(350px, 1fr));
    gap: 20px;
}



.icons {
    display: grid;
    justify-self: center;
    height: 100px;
    width: 100px;
    border: 1px solid #227608;
    border-radius: 100%;
    background-color: #fffafae6;
}

@media only screen and (max-width: 600px) {
    .icons {
        height: 50px;
        width:50px;
        padding: 0;
    }
}

.icons1 {
    background-color: #000000b5;
    list-style-type: none;
    color: #029b52;
    font-size: 2rem;
    justify-self: center;
}

@media only screen and (max-width: 600px) {
    .icons1 {
        font-size: 1.1rem;
        padding: 0;
    }
}
